<html style="overflow: hidden;" lang="en"><head>
<meta http-equiv="content-type" content="text/html; charset=UTF-8">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1">
    <meta name="description" content="arillo is responsive html real estate theme">
    <meta name="author" content="afriq yasin ramadhan">
    <link rel="shortcut icon" href="http://templateninja.net/themes/arillo/v1.1/blue/img/favicon.png">

    <title>Keur Gui Immo</title>
     <!-- Compiled and minified CSS -->
     <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-beta/css/materialize.min.css">

     <!-- Compiled and minified JavaScript -->
     <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-beta/js/materialize.min.js"></script>
             
    <link href="assets/catalogueTemp_fichiers/bootstrap.css" rel="stylesheet">
    <link href="assets/catalogueTemp_fichiers/css.css" rel="stylesheet" type="text/css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"/>
    <link href="assets/catalogueTemp_fichiers/style.css" rel="stylesheet">
    <link href="assets/catalogueTemp_fichiers/responsive.css" rel="stylesheet">

 
  <script type="text/javascript" charset="UTF-8" src="assets/catalogueTemp_fichiers/common.js"></script><script type="text/javascript" charset="UTF-8" src="assets/catalogueTemp_fichiers/util.js"></script><script type="text/javascript" charset="UTF-8" src="assets/catalogueTemp_fichiers/stats.js"></script></head>

  <body id="top" style="font-family:'Times New Roman'">
    <!-- begin:navbar -->
    <nav class="navbar navbar-default navbar-fixed-top" role="navigation">
      <div class="container">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-top">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="http://templateninja.net/themes/arillo/v1.1/blue/index.html"><span>Keur Gui<strong>Immo.</strong></span></a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="navbar-top">
          <ul class="nav navbar-nav navbar-right">
            <li><a href="#">Accueil</a></li>
            <li><a href="#service" data-target="#service">A propos</a></li>
            <li><a routerLink="/catalogue">Catalogue</a></li>
            <li><a routerLink="/connexion">Connexion</a></li>
          </ul>
        </div>
      </div>
    </nav>
    <!-- end:navbar -->
    
    <!--Catalogue-->
    <router-outlet></router-outlet>

    
    <!-- begin:footer -->
    <div id="footer">
        <div class="container">
          <div class="row">
            <div class="col-md-3 col-sm-6 col-xs-12">
              <div class="widget">
                <h3>Top Real Estate Listed</h3>
                <ul class="list-unstyled">
                  <li><a href="#">Apartments</a></li>
                </ul>
              </div>
            </div>
            <!-- break -->
            <div class="col-md-3 col-sm-6 col-xs-12">
              <div class="widget">
                <h3>Top Agents Listed</h3>
                <ul class="list-unstyled">
                  <li><a href="#">Lorenso</a></li>
                </ul>
              </div>
            </div>
            <!-- break -->
            <div class="col-md-3 col-sm-6 col-xs-12">
              <div class="widget">
                <h3>Features</h3>
                <ul class="list-unstyled">
                  <li><a href="#">My Account</a></li>
                </ul>
              </div>
            </div>
            <!-- break -->
            <div class="col-md-3 col-sm-6 col-xs-12">
              <div class="widget">
                <h2>Arillo.</h2>
                <address>
                  <strong>Real estate theme.</strong><br>
                  9.5 Main Street, Jjrn Plrt Btl<br>
                  <br>
                  Telp. : +62-345678910<br>
                  Email : hello@arillo.com
                </address>
              </div>
            </div>
            <!-- break -->
          </div>
          <!-- break -->
  
          <!-- begin:copyright -->
          <div class="row">
            <div class="col-md-12 copyright">
              <p>Copyright © 2014 Company, Inc. All Right Reserved.</p>
              <p>Theme : Arillo 1.0 Designed by <strong>templateninja.</strong></p>
              <a href="#top" class="btn btn-primary scroltop"><i class="fa fa-angle-up"></i></a>
              <ul class="list-inline social-links">
                <li><a href="#" class="icon-twitter" rel="tooltip" title="" data-placement="bottom" data-original-title="Twitter"><i class="fa fa-twitter"></i></a></li>
                <li><a href="#" class="icon-facebook" rel="tooltip" title="" data-placement="bottom" data-original-title="Facebook"><i class="fa fa-facebook"></i></a></li>
                <li><a href="#" class="icon-gplus" rel="tooltip" title="" data-placement="bottom" data-original-title="Gplus"><i class="fa fa-google-plus"></i></a></li>
              </ul>
            </div>
          </div>
          <!-- end:copyright -->
  
        </div>
      </div>
      <!-- end:footer -->
  

  
    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="assets/catalogueTemp_fichiers/jquery.js"></script>
    <script src="assets/catalogueTemp_fichiers/bootstrap.js"></script>
    <script type="text/javascript" src="assets/catalogueTemp_fichiers/js"></script>
    <script src="assets/catalogueTemp_fichiers/gmap3.js"></script>
    <script src="assets/catalogueTemp_fichiers/jquery_002.js"></script>
    <script src="assets/catalogueTemp_fichiers/jquery_005.js"></script>
    <script src="assets/assets/catalogueTemp_fichiers/imagesloaded.js"></script>
    <script src="assets/catalogueTemp_fichiers/masonry.js"></script>
    <script src="assets/catalogueTemp_fichiers/jquery_004.js"></script>
    <script src="assets/catalogueTemp_fichiers/jquery_003.js"></script>
    <script src="assets/catalogueTemp_fichiers/script.js"></script>
  

<div id="ascrail2000" class="nicescroll-rails" style="width: 10px; z-index: 1060; position: fixed; top: 0px; height: 100%; right: 0px; cursor: default; opacity: 0;"><div style="position: relative; float: right; width: 10px; background-color: rgb(67, 74, 84); border: 1px solid rgb(67, 74, 84); background-clip: padding-box; border-radius: 5px; height: 86px; top: 542px;"></div></div><div id="ascrail2000-hr" class="nicescroll-rails" style="height: 10px; z-index: 1060; position: fixed; left: 0px; width: 100%; bottom: 0px; cursor: default; display: none; opacity: 0;"><div style="position: relative; top: 0px; height: 10px; background-color: rgb(67, 74, 84); border: 1px solid rgb(67, 74, 84); background-clip: padding-box; border-radius: 5px; width: 1366px;"></div></div></body></html>