
  <mat-card style="margin-bottom:70px">
      <h4>Détails du bien</h4>
      <mat-card-content>
        <mat-tab-group class="tab-group">
          <mat-tab style="background-color: #00897b" label="Images">
            <div class="demo-tab-content">
                <img src="assets/catalogueTemp_fichiers/img02.jpg" alt="arillo real estate theme" style="height:300px">
            </div>
          </mat-tab>
          <mat-tab style="background-color: #00897b" label="Description">
            <div class="demo-tab-content">
              <ul class="collection">
                <li class="collection-item"><span class="fa fa-home"></span>       <h6>Nom : AppartementB</h6></li>
                <li class="collection-item"><span class="fa fa-home"></span>       <h6>Localité : Parcelles</h6></li>
                <li class="collection-item"><span class="fa fa-home"></span>       <h6>Type : Appartement</h6></li>
                <li class="collection-item"><span class="fa fa-home"></span>       <h6>Déscription: Appartement en bon etat</h6></li>
              </ul>
            </div>  
          </mat-tab>
          </mat-tab-group>
    </mat-card-content>
  </mat-card>
  